extends layouts/default

block content

	- var primaryHeadline = 'text-2xl font-bold text-5xl sm:text-6xl md:text-7xl xl:text-8xl my-4 leading-tight whitespace-no-wrap';
	- var secondaryHeadline = 'my-4 font-bold text-3xl sm:text-4xl md:text-5xl leading-tight text-blue dark:text-white';
	- var link = "font-bold text-black hover:text-blue dark:text-white transition-colors duration-300";

	section(class='bg-blue text-white antialiased dark:bg-gray-800 dark:text-white relative z-20 shadow-md')
		div#hero-wrap(class='container mx-auto opacity-0')
			div(class='flex flex-wrap h-full items-center justify-center min-h-screen py-8 md:py-16')
				div(class='w-full px-4 text-center relative')
					div#intro-zero(class="w-64 md:w-72 inline-block")
						svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewbox='0 0 356.244 355.91')
							defs
								circle#a(cx='178.122' cy='178' r='178')
							clippath#b
								use(xlink:href='#a' overflow='visible')
							g(clip-path='url(#b)')
								path(fill='#2196F3' d='M-83.108-82h521.461v520H-83.108z')
								defs
									path#c(d='M29.122 241h298v148h-298z')
								clippath#d
									use(xlink:href='#c' overflow='visible')
								path(clip-path='url(#d)' fill='#575757' stroke='#000' stroke-width='3' stroke-miterlimit='10' d='M299.622 430.532c0 22.073-17.894 39.968-39.967 39.968H96.589c-22.073 0-39.967-17.895-39.967-39.968V307.468c0-22.073 17.894-39.968 39.967-39.968h163.066c22.073 0 39.967 17.895 39.967 39.968v123.064z')
								path(d='M281.122 319.577c0-28.777-6.867-35.801-21.143-35.801s-18.105 6.798-18.105 6.798c-.905-8.839 2.899-14.728 2.899-14.728s-7.952 8.61-13.615 11.557c-5.663 2.947.441-13.818 1.348-17.851.905-4.028-15.681-.997-15.681-.997-36.977 4.489-74.279.73-81.933.006-6.679-.633-10.191 12.295-10.976 15.603l-.164-.123c-7.252-5.438-15.841-7.666-15.841-7.666 4.306 6.57 4.576 14.807 4.576 14.807-44.186-24.017-40.022 18.552-39.569 32.825.212 6.573.263 52.993.259 64.993h207.945v-69.423z')
								defs
									path#e(d='M27.122 239h302v150h-302z')
								clippath#f
									use(xlink:href='#e' overflow='visible')
								g(clip-path='url(#f)' fill='none')
									path(d='M301.122 433.113c0 22.408-17.934 40.887-40.345 40.887H94.439c-22.41 0-40.317-18.478-40.317-40.887v-126.29c0-22.409 17.907-40.823 40.317-40.823h166.338c22.411 0 40.345 18.414 40.345 40.823v126.29z')
									path(d='M305.122 432.38c0 24.091-19.529 43.62-43.619 43.62H95.741c-24.09 0-43.619-19.529-43.619-43.62V306.62c0-24.091 19.529-43.62 43.619-43.62h165.762c24.09 0 43.619 19.529 43.619 43.62v125.76zm-6-126.547c0-20.728-16.625-37.833-37.355-37.833H95.503c-20.729 0-37.381 17.105-37.381 37.833v126.215c0 20.729 16.652 37.952 37.381 37.952h166.264c20.73 0 37.355-17.223 37.355-37.952V305.833z')
								path(fill='#FEE8DC' d='M65.18 134.58s-8.578-15.246-20.342-15.246c-11.761 0-12.779 19.023-12.779 23.235s-.581 19.458 12.49 38.048c13.07 18.591 25.029 20.703 34.661 13.981 9.632-6.72-14.03-60.018-14.03-60.018z')
								path(d='M68.873 201.135c-9.037 0-18.004-6.314-26.76-18.768-13.141-18.691-12.991-34.201-12.991-39.297v-.501c0-12.123 4.09-26.278 15.769-26.278 13.39 0 22.582 16.11 22.966 16.797l.118.257c7.42 16.716 23.535 56.388 12.983 63.749-3.843 2.681-7.913 4.041-12.085 4.041zm-23.524-78.758c-9.626 0-9.227 19.989-9.227 20.191v.531c0 4.615-.598 18.664 11.428 35.767 7.442 10.587 14.737 16.183 21.579 16.183 2.901 0 5.666-.991 8.467-2.946 3.578-2.495-1.516-26.15-14.811-56.138-.77-1.303-8.085-13.588-17.436-13.588z')
								path(fill='#FECFBC' d='M41.052 149.566s-5.539-19.724 3.917-19.724c9.457 0 18.911 29.044 18.911 29.044s-15.533 16.749 9.591 24.044c0 0-17.831 8.24-28.097-14.184l-4.322-19.18z')
								path(fill='#DC9F8D' d='M73.472 182.931c-25.124-7.295-9.591-24.044-9.591-24.044s-1.023-3.137-2.727-7.341c-.005.004-18.707 8.218-5.092 30.196 8.733 5.187 17.41 1.189 17.41 1.189z')
								path(d='M65.822 185.431c-2.119 0-4.513-.318-7.002-1.238-5.983-2.213-10.816-7.268-14.366-15.023l1.844-.844c3.317 7.246 7.767 11.945 13.225 13.964 4.173 1.542 8.097 1.183 10.63.621-6.529-2.413-10.441-5.826-11.645-10.173-1.746-6.3 2.805-12.379 4.228-14.081-2.753-8.239-10.775-27.799-17.767-27.799-1.339 0-2.341.464-3.065 1.419-2.786 3.676-.855 13.53.125 17.016l-1.954.549c-.154-.552-3.747-13.565.212-18.79 1.118-1.474 2.693-2.222 4.682-2.222 9.907 0 18.884 26.7 19.875 29.745l.185.565-.404.438c-.06.064-5.876 6.454-4.16 12.627 1.183 4.255 5.654 7.538 13.29 9.754l2.605.756-2.462 1.138c-.199.091-3.494 1.578-8.076 1.578z')
								path(d='M48.293 144.777l-1.787-.962c2.151-3.992 9.247-4.125 9.547-4.129l.025 2.029c-1.719.023-6.47.621-7.785 3.062zM55.205 182.282c-4.74-7.645-6.202-14.549-4.349-20.516 2.42-7.791 9.587-11.016 9.89-11.149l.817 1.857c-.066.029-6.645 3.014-8.777 9.917-1.661 5.377-.266 11.709 4.142 18.823l-1.723 1.068z')
								path(fill='#FEE8DC' d='M289.822 134.58s8.575-15.246 20.341-15.246c11.761 0 12.779 19.023 12.779 23.235s.581 19.458-12.49 38.048c-13.069 18.591-25.029 20.703-34.661 13.981-9.633-6.72 14.031-60.018 14.031-60.018z')
								path(d='M286.129 201.135c-4.174 0-8.236-1.36-12.078-4.042-10.553-7.361 5.569-47.032 12.988-63.749l.13-.257c.386-.687 8.671-16.797 22.061-16.797 11.679 0 14.893 14.155 14.893 26.278v.501c0 5.097 1.028 20.606-12.111 39.297-8.759 12.455-16.847 18.769-25.883 18.769zm6.413-65.184c-13.297 29.993-18.584 53.658-15.008 56.152 2.8 1.955 5.691 2.946 8.595 2.946 6.841 0 14.002-5.595 21.443-16.183 12.026-17.103 11.55-31.151 11.55-35.767v-.531c0-.202.277-20.191-9.35-20.191-8.102 0-15.002 9.681-17.23 13.574z')
								path(fill='#FECFBC' d='M313.95 149.566s5.538-19.724-3.918-19.724c-9.457 0-18.913 29.044-18.913 29.044s15.536 16.749-9.589 24.044c0 0 17.831 8.24 28.098-14.184l4.322-19.18z')
								path(fill='#DC9F8D' d='M281.53 182.931c25.125-7.295 9.589-24.044 9.589-24.044s1.024-3.137 2.726-7.341c.008.004 18.71 8.218 5.097 30.196-8.734 5.187-17.412 1.189-17.412 1.189z')
								path(d='M289.181 185.431c-4.584 0-7.878-1.487-8.077-1.58l-2.463-1.138 2.605-.756c7.64-2.219 12.114-5.503 13.293-9.761 1.713-6.191-4.105-12.556-4.163-12.62l-.406-.437.185-.566c.99-3.044 9.972-29.745 19.878-29.745 1.989 0 3.564.748 4.682 2.222 3.959 5.225.367 18.239.213 18.79l-1.954-.549c.979-3.488 2.906-13.346.124-17.016-.724-.955-1.726-1.419-3.064-1.419-6.991 0-15.016 19.56-17.768 27.798 1.423 1.703 5.974 7.782 4.23 14.082-1.205 4.346-5.113 7.758-11.642 10.171 1.751.39 4.159.681 6.836.321 7.207-.968 12.934-5.984 17.017-14.904l1.846.844c-3.553 7.755-8.384 12.81-14.368 15.023a20.137 20.137 0 01-7.004 1.24z')
								path(d='M306.706 144.776c-1.318-2.45-6.064-3.041-7.78-3.061l.023-2.029c.302.004 7.394.137 9.544 4.13l-1.787.96zM299.8 182.282l-1.725-1.068c4.406-7.113 5.802-13.446 4.141-18.822-2.133-6.905-8.714-9.889-8.781-9.919l.818-1.857c.304.133 7.472 3.358 9.892 11.151 1.855 5.967.392 12.869-4.345 20.515z')
								path(fill='#FEE8DC' d='M135.122 266.724c0 13.444 13.442 26.276 26.889 26.276h34.49c13.445 0 21.621-12.832 21.621-26.276V243h-83v23.724z')
								path(d='M196.501 295h-34.49c-14.777 0-28.889-13.942-28.889-28.276V241h87v25.724c0 13.769-8.377 28.276-23.621 28.276zm-59.379-50v21.724c0 12.06 12.395 24.276 24.889 24.276h34.49c12.607 0 19.621-12.475 19.621-24.276V245h-79z')
								path(fill='#FECFBC' d='M145.122 266.724c0 13.444 11.095 26.276 20.95 26.276h25.281c9.856 0 16.769-12.832 16.769-26.276V243h-63v23.724z')
								g
									path(d='M196.501 295h-34.49c-14.777 0-28.889-13.942-28.889-28.276V241h87v25.724c0 13.769-8.377 28.276-23.621 28.276zm-59.379-50v21.724c0 12.06 12.395 24.276 24.889 24.276h34.49c12.607 0 19.621-12.475 19.621-24.276V245h-79z')
								g
									path(fill='#FEE8DC' d='M291.547 72.758C284.789 40.569 261.787-23 177.216-23h-.076c-12.321 0-23.327 1.357-33.175 3.762-4.136 3.06-10.377 5.746-19.215 6.584C82.128 6.694 67.884 48.578 62.809 72.758c-6.754 32.188 4.129 66.714 7.882 90.123 3.752 23.409 9.865 46.996 47.284 83.467 33.072 32.233 59.166 30.031 59.166 30.031s26.451 1.269 59.239-30.689c37.422-36.472 43.534-60.716 47.287-84.125 3.751-23.409 14.635-56.62 7.88-88.807z')
									path(fill='#FEE8DC' d='M124.75-12.654c8.838-.839 15.08-3.525 19.215-6.584-6.971 1.703-13.364 3.928-19.215 6.584z')
									path(d='M294.525 71.425c-7.753-36.93-33.304-98.883-117.385-98.883-10.115 0-19.375.906-27.866 2.55-1.037 1.53-1.954 2.709-2.652 3.407-2.425 2.425-6.04 4.845-11.046 6.585 11.853-4.078 25.626-6.456 41.64-6.456 79.707 0 103.979 58.923 111.353 94.047 5.12 24.397-.265 50.349-4.589 71.201-1.273 6.132-2.473 11.924-3.32 17.206-3.724 23.233-10.075 47.021-46.405 82.426-29.662 28.911-53.964 29.745-56.638 29.745l-.523-.012-.185.012a11.93 11.93 0 01-.792.021c-4.336 0-27.421-1.411-56.018-29.284-36.461-35.535-42.588-58.136-46.404-81.945-.831-5.182-2.005-10.912-3.248-16.978-4.37-21.323-9.809-47.858-4.661-72.393 5.865-27.942 22.427-70.943 69.123-87.361-5.102 1.669-11.609 2.625-19.734 2.207C79.14 8.195 65.204 45.821 59.831 71.425c-5.408 25.769.171 52.992 4.654 74.866 1.229 5.999 2.391 11.666 3.201 16.718 3.844 23.981 10.42 48.554 48.166 85.341 29.523 28.775 53.592 31.011 60.266 31.011.505 0 .864-.014 1.068-.023.103.002.247.004.432.004 4.777 0 30.153-1.518 60.885-31.473 37.663-36.705 44.275-61.541 48.169-85.823.824-5.145 2.012-10.871 3.27-16.933 4.439-21.407 9.965-48.047 4.583-73.688z')
									path(d='M134.91-14.685c.221-.078.444-.153.666-.229 5.007-1.741 8.621-4.16 11.046-6.585.698-.698 1.615-1.877 2.652-3.407-13.137 2.544-24.416 6.873-34.098 12.428 8.125.417 14.631-.538 19.734-2.207z')
								g
									path(fill='#6C6E70' d='M317.827 136.878a3.822 3.822 0 11-7.643 0 3.822 3.822 0 017.643 0z')
									path(d='M314.005 141.714c-2.666 0-4.836-2.17-4.836-4.837s2.17-4.836 4.836-4.836c2.667 0 4.836 2.17 4.836 4.836s-2.169 4.837-4.836 4.837zm0-7.644a2.811 2.811 0 00-2.808 2.808 2.812 2.812 0 002.808 2.808 2.811 2.811 0 002.808-2.808 2.812 2.812 0 00-2.808-2.808z')
								g
									path(fill='#6C6E70' d='M317.827 149.051a3.822 3.822 0 11-7.642 0 3.822 3.822 0 017.642 0z')
									path(d='M314.005 153.887a4.842 4.842 0 01-4.836-4.836 4.842 4.842 0 014.836-4.836 4.842 4.842 0 014.836 4.836 4.84 4.84 0 01-4.836 4.836zm0-7.644a2.811 2.811 0 00-2.808 2.808 2.812 2.812 0 002.808 2.808 2.811 2.811 0 002.808-2.808 2.812 2.812 0 00-2.808-2.808z')
								g
									path(fill='#FECFBC' d='M91.356 100.305s17.019-32.679 20.764-56.508c3.744-23.829 20.084-40.509 65.699-40.509 45.618 0 55.147 20.084 66.381 48.51s11.916 38.637 22.468 48.508c0 0-15.319 2.726-15.319 31.661 0 28.935 12.597 20.423 10.215 39.146-2.385 18.722-6.809 42.893-42.212 68.423-35.403 25.53-40.851 29.955-63.659 16.34-22.809-13.616-35.742-27.914-45.275-39.828-9.531-11.916-13.957-34.383-14.978-40.169-1.02-5.789-6.469-12.596 2.043-19.404 8.511-6.809 29.957-26.554-6.127-56.17z')
								g
									path(fill='#DC9F8D' d='M125.663 92.391c-19.219 0-30.046 5.126-34.135 7.581-.107.212-.171.333-.171.333 13.215 10.848 18.695 20.364 19.938 28.412 20.362-3.662 33.153-11.341 38.665-16.853 7.132-7.134.962-19.473-24.297-19.473z')
								g
									path(fill='#DC9F8D' d='M200.164 105.921c0 4.535 6.391 17.521 22.674 23.5 7.202 2.643 18.354 1.777 28.555-.01.846-25.772 14.449-28.938 15.236-29.099-4.953-3.27-15.22-7.921-33.69-7.921-28.446 0-32.775 8.995-32.775 13.53z')
								g
									path(d='M91.559 100.136s13.122-4.772 22.5-4.772c9.375 0 31.665-.703 38.317 2.321L146.236 87h-41.911c.001 0-9.675 4.945-12.766 13.136z')
								g
									path(d='M200.153 97.438s10.694-1.458 20.373-1.458 29.848-2.392 36.802.784c6.959 3.176 9.932 3.359 9.932 3.359L256.326 87h-47.787l-8.386 10.438z')
								g
									path(d='M149.418 87.73l1.755-1.016 6.14 10.604-1.755 1.016z')
								g
									path(d='M153.475 87.723l1.756-1.017 6.14 10.604-1.756 1.016z')
								g
									path(d='M195.314 96.902l8.388-10.332 1.574 1.278-8.387 10.332z')
								g
									path(d='M191.244 96.914l8.387-10.33 1.574 1.28-8.387 10.329z')
								g
									path(fill='#FFF' d='M147.954 135.811c-1.04 7.855-14.023 12.618-28.998 10.634-14.974-1.983-26.27-9.96-25.23-17.816 1.041-7.855 14.024-12.614 28.999-10.631 14.974 1.984 26.269 9.958 25.229 17.813z')
									path(d='M125.669 147.91c-2.247 0-4.55-.154-6.846-.458-15.768-2.088-27.234-10.414-26.103-18.954.932-7.043 10.508-11.963 23.287-11.963 2.247 0 4.552.154 6.849.459 15.768 2.088 27.233 10.412 26.103 18.952-.933 7.043-10.511 11.964-23.29 11.964zm-9.661-29.347c-11.546 0-20.494 4.289-21.276 10.2-.965 7.289 9.961 14.77 24.357 16.677 2.209.292 4.423.441 6.581.441 11.547 0 20.496-4.291 21.279-10.202.965-7.288-9.962-14.769-24.357-16.675a50.482 50.482 0 00-6.584-.441z')
									path(fill='#30201D' d='M136.617 131.16c0 7.667-6.609 13.885-14.76 13.885-8.155 0-14.765-6.217-14.765-13.885 0-7.67 6.61-13.887 14.765-13.887 8.151 0 14.76 6.218 14.76 13.887z')
									g(opacity='.8')
										path(fill='#FFF' d='M126.178 118.23c-.228 2.726-.882 5.73-2.415 8.306 2.33.271 4.147 2.227 4.147 4.631 0 .557-.113 1.084-.294 1.581 2.079-3.18 5.006-5.159 7.705-6.372-1.555-3.868-4.925-6.898-9.143-8.146z')
										path(fill='#56453D' d='M118.564 131.434c-3.218 1.814-7.173 2.849-10.575 3.428 1.71 5.691 7.261 9.867 13.863 9.867 1.04 0 2.052-.111 3.033-.308-.246-4.258.547-7.602 1.9-10.241-.859 1.014-2.128 1.674-3.562 1.674-2.495 0-4.517-1.96-4.659-4.42z')
									path(fill='#1C0F0C' d='M121.856 119.302c7.021 0 12.731 5.319 12.731 11.858 0 6.537-5.711 11.855-12.731 11.855-7.023 0-12.736-5.318-12.736-11.855.001-6.538 5.714-11.858 12.736-11.858m0-2.029c-8.155 0-14.765 6.217-14.765 13.887 0 7.667 6.61 13.885 14.765 13.885 8.151 0 14.76-6.217 14.76-13.885.001-7.669-6.608-13.887-14.76-13.887z')
									path(d='M139.908 118.139c-.231-.143-23.37-13.946-43.604-.03l-1.149-1.672c21.334-14.666 45.569-.177 45.811-.029l-1.058 1.731z')
									path(d='M94.363 132.961s-2.756-12.286 22.255-12.286c25.014 0 29.664 8.888 29.664 8.888s-9.011-12.011-29.769-12.011-24.078 10.133-22.15 15.409z')
									g
										path(d='M128.503 131.16a5.243 5.243 0 11-10.485-.001 5.243 5.243 0 0110.485.001z')
									g
										path(fill='#FFF' d='M205.316 135.811c1.039 7.855 14.023 12.618 28.997 10.634 14.976-1.983 26.27-9.96 25.23-17.816-1.039-7.855-14.023-12.614-28.998-10.631-14.974 1.984-26.27 9.958-25.229 17.813z')
										path(d='M227.602 147.91c-12.782 0-22.359-4.921-23.293-11.965-1.129-8.539 10.337-16.864 26.105-18.952a52.25 52.25 0 016.849-.459c12.779 0 22.355 4.92 23.288 11.963 1.13 8.54-10.336 16.866-26.104 18.954-2.296.304-4.6.459-6.845.459zm9.66-29.347a50.49 50.49 0 00-6.583.441c-14.396 1.907-25.321 9.387-24.355 16.675.781 5.911 9.731 10.202 21.278 10.202a50.41 50.41 0 006.58-.441c14.396-1.907 25.322-9.388 24.355-16.677-.783-5.911-9.73-10.2-21.275-10.2z')
										path(fill='#30201D' d='M216.652 131.16c0 7.667 6.61 13.885 14.762 13.885 8.153 0 14.764-6.217 14.764-13.885 0-7.67-6.61-13.887-14.764-13.887-8.151 0-14.762 6.218-14.762 13.887z')
										g(opacity='.8')
											path(fill='#FFF' d='M227.092 118.23c.229 2.726.882 5.73 2.415 8.306-2.329.271-4.146 2.227-4.146 4.631 0 .557.113 1.084.294 1.581-2.079-3.18-5.008-5.159-7.707-6.372 1.555-3.868 4.926-6.898 9.144-8.146z')
											path(fill='#56453D' d='M234.706 131.434c3.219 1.814 7.172 2.849 10.574 3.428-1.71 5.691-7.262 9.867-13.862 9.867-1.04 0-2.054-.111-3.034-.308.246-4.258-.547-7.602-1.899-10.241.859 1.014 2.127 1.674 3.562 1.674 2.496 0 4.517-1.96 4.659-4.42z')
										path(fill='#1C0F0C' d='M231.414 119.302c7.02 0 12.735 5.319 12.735 11.858 0 6.537-5.715 11.855-12.735 11.855-7.021 0-12.733-5.318-12.733-11.855 0-6.538 5.713-11.858 12.733-11.858m0-2.029c-8.151 0-14.762 6.217-14.762 13.887 0 7.667 6.61 13.885 14.762 13.885 8.153 0 14.764-6.217 14.764-13.885 0-7.669-6.611-13.887-14.764-13.887z')
										path(d='M213.362 118.139l-1.058-1.731c.241-.148 24.479-14.636 45.811.029l-1.149 1.672c-20.258-13.931-43.37-.111-43.604.03z')
										path(d='M258.907 132.961s2.756-12.286-22.256-12.286c-25.014 0-29.664 8.888-29.664 8.888s9.012-12.011 29.77-12.011 24.078 10.133 22.15 15.409z')
										g
											path(d='M224.767 131.16a5.243 5.243 0 1010.485-.001 5.243 5.243 0 00-10.485.001z')
								g
									path(d='M175.335 192.059c-9.238 0-11.501-3.459-13.501-6.51-.427-.655-.831-1.107-1.294-1.661-.581-.695-1.176-.889-1.773-.889h-.008c-.886 0-1.73.598-1.98.891l-1.555-1.383c.15-.183 1.542-1.824 3.534-1.824 1.229 0 2.354.578 3.338 1.761.537.643.993 1.33 1.434 2.004 1.801 2.749 3.662 5.587 11.803 5.587 4.646 0 7.557-2.748 10.126-5.169 2.919-2.751 5.939-5.593 10.277-1.755l-1.344 1.519c-2.837-2.507-4.361-1.288-7.543 1.71-2.699 2.548-6.064 5.719-11.514 5.719z')
								g
									path(fill='#DC9F8D' d='M189.75 158.917s-5.297-5.298-7.365-7.364c-2.068-2.066-3.618-4.004-7.05-4.004s-7.293.904-9.876 3.745c-1.072 1.179-2.719 2.689-4.283 4.054a23.198 23.198 0 01-1.598 4.597c2.403.571 5.478.571 7.818-.509 3.357-1.551 8.656-1.679 11.499-.518 2.843 1.165 8.658 1.035 9.95 1.035 1.292-.001.905-1.036.905-1.036z')
								g
									path(d='M155.533 188.158c-.704 0-1.448-.169-2.207-.512-3.451-1.56-6.839-6.588-6.839-10.153 0-4.815 2.772-7.458 8.294-12.726l.521.309c5.47-5.221 5.534-13.075 5.534-13.075h2.028s-.07 8.729-6.161 14.544l-.522.094c-5.422 5.171-7.666 7.109-7.666 11.056 0 2.795 2.902 6.964 5.646 8.203 1.676.756 2.498-.018 2.768-.257l1.339 1.497c-.788.695-1.724 1.02-2.735 1.02z')
								g
									path(d='M194.534 188.35c-1.298 0-2.7-.331-4.186-1.098l.932-1.803c5.238 2.707 8.439-1.738 9.294-3.165 1.395-2.325 1.671-7.723.038-10.057-1.898-2.718-4.512-8.962-4.622-9.226l1.874-.781c.025.062 2.637 6.306 4.412 8.844 2.144 3.068 1.812 9.308.037 12.264-1.624 2.706-4.342 5.022-7.779 5.022z')
								g
									path(d='M174.939 219.71c-7.091 0-13.683-.308-15.66-.92-3.689-1.137-17.27-3.274-17.407-3.295l.315-2.005c.563.09 13.862 2.181 17.689 3.36 3.656 1.132 25.326 1.108 33.128-.032l22.719-3.329.293 2.007-22.719 3.329c-4.037.592-11.435.885-18.358.885z')
								g
									path(fill='#DC9F8D' d='M187.508 232h-26.374s4.299 9.97 13.556 9.97c9.255 0 12.818-9.97 12.818-9.97z')
								g
									path(d='M161.122 232h26v3h-26z')
								g
									path(fill='#FEE8DC' d='M202.298 218.467s-1.992 5.182-4.184 6.776c0 0 4.783 2.191 7.174 0s-.799-6.178-2.99-6.776z')
								g
									path(d='M76.248 133.093a1.471 1.471 0 01-2.94 0 1.47 1.47 0 112.94 0zM82.333 114.835a1.47 1.47 0 11-2.94 0 1.47 1.47 0 012.94 0zM72.19 112.806a1.471 1.471 0 01-2.94 0 1.47 1.47 0 112.94 0zM78.276 102.661a1.471 1.471 0 01-2.94 0 1.47 1.47 0 112.94 0zM70.161 94.546a1.471 1.471 0 01-2.94 0 1.47 1.47 0 112.94 0z')
									circle(cx='78.835' cy='92.517' r='1.47')
									path(d='M74.219 84.402a1.471 1.471 0 01-2.94 0 1.47 1.47 0 112.94 0z')
									circle(cx='82.893' cy='76.286' r='1.47')
									path(d='M72.19 74.258a1.471 1.471 0 01-2.94 0 1.47 1.47 0 112.94 0zM80.305 66.143a1.471 1.471 0 11-2.942-.002 1.471 1.471 0 012.942.002zM76.248 60.056a1.471 1.471 0 01-2.94 0 1.47 1.47 0 112.94 0zM88.42 62.084a1.471 1.471 0 01-2.94 0 1.47 1.47 0 112.94 0zM84.363 53.969a1.471 1.471 0 01-2.94 0 1.47 1.47 0 112.94 0z')
									circle(cx='78.835' cy='45.854' r='1.47')
									circle(cx='88.979' cy='49.912' r='1.47')
									circle(cx='82.893' cy='39.768' r='1.47')
								g
									path(d='M283.188 133.093a1.469 1.469 0 11-1.471-1.47c.811 0 1.471.658 1.471 1.47zM279.13 114.835a1.47 1.47 0 11-2.94 0 1.47 1.47 0 012.94 0zM283.188 102.661a1.469 1.469 0 11-1.471-1.47c.811 0 1.471.658 1.471 1.47z')
									circle(cx='287.805' cy='94.546' r='1.47')
									path(d='M277.102 92.517a1.471 1.471 0 11-2.942-.002 1.471 1.471 0 012.942.002zM283.188 84.402a1.469 1.469 0 11-1.471-1.47c.811 0 1.471.658 1.471 1.47zM275.072 76.286a1.47 1.47 0 11-2.941-.001 1.47 1.47 0 012.941.001zM285.217 74.258a1.469 1.469 0 11-1.471-1.47 1.47 1.47 0 011.471 1.47zM279.13 66.143a1.47 1.47 0 11-2.94 0 1.47 1.47 0 012.94 0zM285.217 60.056a1.469 1.469 0 11-1.471-1.47 1.47 1.47 0 011.471 1.47zM271.016 62.084a1.47 1.47 0 11-2.942 0 1.47 1.47 0 012.942 0zM277.102 55.998a1.471 1.471 0 11-2.942-.002 1.471 1.471 0 012.942.002zM268.985 49.912a1.47 1.47 0 11-2.94 0 1.47 1.47 0 012.94 0z')
									circle(cx='277.66' cy='45.854' r='1.47')
									path(d='M273.044 39.768a1.471 1.471 0 01-2.941 0 1.47 1.47 0 012.941 0z')
								g
									path(opacity='.3' fill='#FFF' stroke='#FFF' stroke-miterlimit='10' d='M125.845 105.577c-1.977-.033-3.175-.004-3.175-.004-23.972 0-33.738 4.439-36.402 7.103-2.664 2.664-7.991 13.318-1.776 33.738 5.443 17.885 18.379 21.468 31.647 22.678 11.266-27.582 10.932-51.563 9.706-63.515zM233.846 105.581c-.409-.003-.811-.007-1.228-.007 0 0-35.514-.888-40.841 12.43s8.878 39.065 13.318 43.505c3.416 3.416 9.474 6.821 18.953 7.81 11.357-27.676 11.026-51.753 9.798-63.738z')
									path(fill='none' d='M122.421 105.573c-23.972 0-33.738 4.439-36.402 7.103-2.664 2.664-7.991 13.318-1.776 33.738 6.215 20.421 22.196 22.196 37.29 23.084 15.093.888 23.972-3.551 28.411-7.991 4.439-4.439 18.645-30.187 13.318-43.505-5.327-13.317-40.841-12.429-40.841-12.429zM232.823 105.573s-35.514-.888-40.841 12.43c-5.327 13.318 8.878 39.065 13.318 43.505 4.439 4.439 13.318 8.878 28.411 7.991 15.093-.888 31.075-2.664 37.29-23.084 6.215-20.421.888-31.075-1.776-33.738-2.664-2.664-12.43-7.104-36.402-7.104z')
									path(d='M282.174 105.68c-48.832-5.327-69.772-2.77-80.426-.107-10.654 2.664-24.126 3.551-24.126 3.551s-13.472-.888-24.126-3.551c-10.654-2.664-31.753-5.114-80.584.213 0 0-1.986 4.226.678 6.889 2.664 2.664 3.551 4.439 3.551 10.654s1.832 22.17 7.991 35.514c5.327 11.542 28.089 13.578 38.177 14.206 8.479.528 23.084-.888 31.963-12.43 10.827-14.075 13.318-31.075 14.206-33.738.888-2.664 2.818-7.991 8.145-7.991s7.257 5.327 8.145 7.991c.888 2.664 3.379 19.664 14.206 33.738 8.878 11.542 23.483 12.958 31.963 12.43 10.089-.628 32.85-2.664 38.177-14.206 6.159-13.344 7.991-29.299 7.991-35.514 0-6.215.888-7.991 3.551-10.654 2.662-2.662.518-6.995.518-6.995zm-132.229 55.828c-4.439 4.439-13.318 8.878-28.411 7.991-15.093-.888-31.075-2.664-37.29-23.084-6.215-20.421-.888-31.075 1.776-33.738 2.664-2.664 12.43-7.103 36.402-7.103 0 0 35.514-.888 40.841 12.43 5.327 13.317-8.879 39.065-13.318 43.504zM271 146.414c-6.215 20.421-22.196 22.196-37.29 23.084-15.093.888-23.972-3.551-28.411-7.991-4.439-4.439-18.645-30.187-13.318-43.505 5.327-13.318 40.841-12.43 40.841-12.43 23.972 0 33.738 4.439 36.402 7.103 2.664 2.665 7.991 13.319 1.776 33.739z')
									path(d='M72.912 105.787L62.247 115l.875 7 12.349-7.107M282.174 105.68l10.297 9.32-.875 7-12.349-7.107')
					h1(class=primaryHeadline)

						span#intro-one(class='inline-block') Hi!
						span#intro-two-wrap(class='inline-block')
							span#intro-two(class='inline-block') &nbsp;I&rsquo;m R.J.
					p#intro-three(class='text-2xl md:text-4xl my-4') I make websites.
					div(class='absolute bottom-0 left-0 w-full text-center -mb-24 md:-mb-32')
						#intro-four(class='inline-block cursor-pointer')
							svg(class='w-8 text-white inline-block mb-8 pointer-events-none' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20')
								path(fill='currentColor' d='M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z')

	section#section-one(class='mt-8 md:mt-16 lg:mt-24 md:mb-16 relative z-10')
		div(class='container mx-auto')
			div(class='flex flex-wrap h-full xl:pt-8')
				div(class='w-full lg:w-1/3 px-4')
					h2(class=secondaryHeadline + ' lg:sticky lg:top-8 enter-animate') About Me
				div(class='w-full lg:w-2/3 px-4 enter-fade')
					p(class='my-4 text-xl md:text-2xl leading-relaxed text-gray-700') I&rsquo;m a web developer, homebrewer, and super-nerd in Seattle. I love rain, tattoos, craft beer, highfalutin coffee, and your dog. While I have experience up and down the web stack, my background is in graphic design, so my sweet spot is on the front end. I do my best work alongside visual designers to build out systems and help bring their visions to life.
					p(class='my-4 text-xl md:text-2xl leading-relaxed text-gray-700') I currently work for #[a(href='http://www.turnstyle.studio/' target="_blank" class=link) Turnstyle], volunteer for #[a(href='http://seattlepersianrescue.com/' target="_blank" class=link) Seattle Persian and Himalayan Rescue], and chase around my internet celebrity cat, #[a(href='https://instagram.com/brimleycat' target="_blank" class=link) Brimley]. I take pride in my work, and am always keeping myself busy with one project or another.

	section(class='mb-16 lg:mb-32 relative z-10 enter-card-group')
		div(class='container mx-auto')
			div(class='flex flex-wrap h-full xl:pb-8')
				div(class='w-full lg:w-1/3 px-4 my-4 card')
					div(class='h-full rounded-md shadow-lg border border-gray-200 overflow-hidden px-6 md:px-8 py-6')
						h3(class='text-2xl md:text-3xl mb-4 font-extrabold text-black antialiased') What I Do
						div(class='bg-white')
							ul(class='list-disc pl-4 md:text-lg text-gray-700')
								li Responsive websites
								li Dynamic web apps
								li CMS Integrations
								li SEO Optimization
				div(class='w-full lg:w-1/3 px-4 my-4 card')
					div(class='h-full rounded-md shadow-lg border border-gray-200 overflow-hidden px-6 md:px-8 py-6')
						h3(class='text-2xl md:text-3xl mb-4 font-extrabold text-black antialiased') How I Do It
						div(class='bg-white')
							ul(class='list-disc pl-4 md:text-lg text-gray-700')
								li HTML, CSS, JavaScript
								li Tailwind, Webpack, ES6
								li React, Gatsby, Vue.js
								li Craft CMS
				div(class='w-full lg:w-1/3 px-4 my-4 card')
					div(class='h-full rounded-md shadow-lg border border-gray-200 overflow-hidden px-6 md:px-8 py-6')
						h3(class='text-2xl md:text-3xl mb-4 font-extrabold text-black antialiased') Other Hobbies
						div(class='bg-white')
							ul(class='list-disc pl-4 md:text-lg text-gray-700')
								li Homebrewing
								li Android tinkering
								li Home automation
								li Slappin&rsquo; the bass

	section(class='mt-8 md:my-16 lg:my-24 md:py-16 relative z-20 bg-gray-200')
		div(class='container mx-auto xl-py-8')
			div(class='flex flex-wrap h-full pt-8 md:py-8 xl:py-16')
				div(class='w-full lg:w-1/3 px-4')
					h2(class=secondaryHeadline + ' enter-animate') My Work
				div(class='w-full lg:w-2/3 px-4 enter-fade')
					p(class='my-4 text-xl md:text-2xl leading-relaxed text-gray-700') Most of the code I write professionally is private/under NDA, but here are a few fun projects you can check out.

			div(class='flex flex-wrap h-full py-8 xl:pb-16')
				div(class='w-full md:w-1/2 px-4 my-4')
					a(href="https://www.stratolaunch.com" target="_blank" class='block h-full group enter-card scale-img')
						div(class='h-full rounded-md shadow-lg bg-white overflow-hidden relative group-hover:shadow-2xl transform group-hover:-translate-y-1 transition duration-300')
							img(class='lazyload relative z-10 w-full' src='images/stratolaunch-placeholder.jpg' data-src='images/stratolaunch-full.jpg')
							div(class='relative px-6 md:px-8 py-6 border-l border-r border-b border-gray-200 bg-white z-20')
								svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14.8 14.8' class='absolute top-0 right-0 m-8 w-4 text-black transform group-hover:-translate-y-1 group-hover:translate-x-1 group-hover:text-blue transition duration-300')
									path(fill='currentColor' d='M11.4 2H2.8V0h12v12h-2V3.4L1.4 14.8 0 13.4z')
								h3(class='text-2xl md:text-3xl font-bold text-black group-hover:text-blue transition-colors duration-300') Stratolaunch
								p(class='text-gray-500') Craft CMS Website
								div(class='border-l-4 border-gray-200 pl-4')
									p(class='my-4 text-sm md:text-lg text-gray-700') Stratolaunch&rsquo;s website was a project I developed for Turnstyle, featuring fully-customized page transition sequences built with AnimeJS and BarbaJS.

				div(class='w-full md:w-1/2 px-4 my-4')
					a(href="https://teague.com" target="_blank" class='block h-full group enter-card scale-img')
						div(class='h-full rounded-md shadow-lg bg-white overflow-hidden relative group-hover:shadow-2xl transform group-hover:-translate-y-1 transition duration-300')
							img(class='lazyload relative z-10 w-full' src='images/teague-placeholder.jpg' data-src='images/teague-full.jpg')
							div(class='relative px-6 md:px-8 py-6 border-l border-r border-b border-gray-200 bg-white z-20')
								svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14.8 14.8' class='absolute top-0 right-0 m-8 w-4 text-black transform group-hover:-translate-y-1 group-hover:translate-x-1 group-hover:text-blue transition duration-300')
									path(fill='currentColor' d='M11.4 2H2.8V0h12v12h-2V3.4L1.4 14.8 0 13.4z')
								h3(class='text-2xl md:text-3xl font-bold text-black group-hover:text-blue transition-colors duration-300') Teague
								p(class='text-gray-500') Craft CMS Website
								div(class='border-l-4 border-gray-200 pl-4')
									p(class='my-4 text-sm md:text-lg text-gray-700') Teague&rsquo;s website was Turnstyle project showcasing a highly-flexible CMS, advanced animation through GSAP, and modern JavaScript page transitions.

				div(class='w-full md:w-1/2 px-4 my-4')
					a(href="https://umci.com" target="_blank" class='block h-full group enter-card scale-img')
						div(class='h-full rounded-md shadow-lg bg-white overflow-hidden relative group-hover:shadow-2xl transform group-hover:-translate-y-1 transition duration-300')
							img(class='lazyload relative z-10 w-full' src='images/umc-placeholder.jpg' data-src='images/umc-full.jpg')
							div(class='relative px-6 md:px-8 py-6 border-l border-r border-b border-gray-200 bg-white z-20')
								svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14.8 14.8' class='absolute top-0 right-0 m-8 w-4 text-black transform group-hover:-translate-y-1 group-hover:translate-x-1 group-hover:text-blue transition duration-300')
									path(fill='currentColor' d='M11.4 2H2.8V0h12v12h-2V3.4L1.4 14.8 0 13.4z')
								h3(class='text-2xl md:text-3xl font-bold text-black group-hover:text-blue transition-colors duration-300') UMC
								p(class='text-gray-500') Craft CMS Website
								div(class='border-l-4 border-gray-200 pl-4')
									p(class='my-4 text-sm md:text-lg text-gray-700') A Turnstyle project for a cool construction company, featuring Vimeo integrations and headlines like "Nothing’s worse than a sweaty ape."

				div(class='w-full md:w-1/2 px-4 my-4')
					a(href="https://seattlebeerreview.com" target="_blank" class='block h-full group enter-card scale-img')
						div(class='h-full rounded-md shadow-lg bg-white overflow-hidden relative group-hover:shadow-2xl transform group-hover:-translate-y-1 transition duration-300')
							img(class='lazyload relative z-10 w-full' src='images/sbr-placeholder.jpg' data-src='images/sbr-full.jpg')
							div(class='relative px-6 md:px-8 py-6 border-l border-r border-b border-gray-200 bg-white z-20')
								svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14.8 14.8' class='absolute top-0 right-0 m-8 w-4 text-black transform group-hover:-translate-y-1 group-hover:translate-x-1 group-hover:text-blue transition duration-300')
									path(fill='currentColor' d='M11.4 2H2.8V0h12v12h-2V3.4L1.4 14.8 0 13.4z')
								h3(class='text-2xl md:text-3xl font-bold text-black group-hover:text-blue transition-colors duration-300') Seattle Beer Review
								p(class='text-gray-500') Craft CMS Blog
								div(class='border-l-4 border-gray-200 pl-4')
									p(class='my-4 text-sm md:text-lg text-gray-700') A side project that started with beer and evolved into an experiment to see how fast I could make a website through optimization and tricky preloading.

				div(class='w-full md:w-1/2 px-4 my-4')
					a(href="https://tapdat.io" target="_blank" class='block h-full group enter-card scale-img')
						div(class='h-full rounded-md shadow-lg bg-white overflow-hidden relative group-hover:shadow-2xl transform group-hover:-translate-y-1 transition duration-300')
							img(class='lazyload relative z-10 w-full' src='images/tapdat-placeholder.jpg' data-src='images/tapdat-full.jpg')
							div(class='relative px-6 md:px-8 py-6 border-l border-r border-b border-gray-200 bg-white z-20')
								svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14.8 14.8' class='absolute top-0 right-0 m-8 w-4 text-black transform group-hover:-translate-y-1 group-hover:translate-x-1 group-hover:text-blue transition duration-300')
									path(fill='currentColor' d='M11.4 2H2.8V0h12v12h-2V3.4L1.4 14.8 0 13.4z')
								h3(class='text-2xl md:text-3xl font-bold text-black group-hover:text-blue transition-colors duration-300') tapdat
								p(class='text-gray-500') Digital Tap List
								div(class='border-l-4 border-gray-200 pl-4')
									p(class='my-4 text-sm md:text-lg text-gray-700') Using Contentful, the CMS for this digital tap list is decoupled from the front end, which is built with React and Gatsby, consuming the data via GraphQL.

				div(class='w-full md:w-1/2 px-4 my-4')
					a(href="http://critter-collector.com" target="_blank" class='block h-full group enter-card scale-img')
						div(class='h-full rounded-md shadow-lg bg-white overflow-hidden relative group-hover:shadow-2xl transform group-hover:-translate-y-1 transition duration-300')
							img(class='lazyload relative z-10 w-full' src='images/critter-collector-placeholder.jpg' data-src='images/critter-collector-full.jpg')
							div(class='relative px-6 md:px-8 py-6 border-l border-r border-b border-gray-200 bg-white z-20')
								svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14.8 14.8' class='absolute top-0 right-0 m-8 w-4 text-black transform group-hover:-translate-y-1 group-hover:translate-x-1 group-hover:text-blue transition duration-300')
									path(fill='currentColor' d='M11.4 2H2.8V0h12v12h-2V3.4L1.4 14.8 0 13.4z')
								h3(class='text-2xl md:text-3xl font-bold text-black group-hover:text-blue transition-colors duration-300') Critter Collector
								p(class='text-gray-500') Vue.js Application
								div(class='border-l-4 border-gray-200 pl-4')
									p(class='my-4 text-sm md:text-lg text-gray-700') Critter Collector is a tool to easily view which fish and bugs need to be captured this month in the game Animal Crossing: New Horizons.

	section(class='md:mt-16 lg:mt-24 mb-16 md:mb-24 relative z-10')
		div(class='container mx-auto')
			div(class='flex flex-wrap h-full pt-8 md:py-8 xl:py-16')
				div(class='w-full lg:w-1/3 px-4')
					h2(class=secondaryHeadline + ' enter-animate') Contact
				div(class='w-full lg:w-2/3 px-4 enter-fade')
					p(class='my-4 text-xl md:text-2xl leading-relaxed text-gray-700') Shoot me an email at #[a(href='mailto:rjlacount@gmail.com' class=link) rjlacount@gmail.com], and I&rsquo;ll get back to you as soon as possible.
					p(class='my-4 text-xl md:text-2xl leading-relaxed text-gray-700') You can download a printable copy of my resume #[a(href='resume-rj-lacount.pdf' class=link) here].
		div(class='container mx-auto')
			div(class='w-full mt-16 md:mt-32 text-center enter-social')
				a(href='http://www.linkedin.com/in/rjlacount/' target="_blank" class='social-icon inline-block mx-4 w-8 md:w-12 text-black hover:text-blue transform hover:-translate-y-1 transition duration-300')
					svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612 612")
						path(fill="currentColor" d="M306 0c168.9 0 306 137.1 306 306S474.9 612 306 612 0 474.9 0 306 137.1 0 306 0zm-95.7 478V239h-79.4v239h79.4zm286.5 0V341c0-73.4-39.2-107.5-91.5-107.5-42.1 0-61 23.2-71.6 39.5v-34h-79.4c1.1 22.4 0 239 0 239h79.4V344.5c0-7.1.5-14.3 2.6-19.4 5.7-14.3 18.8-29 40.8-29 28.7 0 40.2 21.9 40.2 54V478h79.5zM171.1 123.8c-27.2 0-44.9 17.9-44.9 41.3 0 22.9 17.2 41.3 43.9 41.3h.5c27.7 0 44.9-18.4 44.9-41.3-.5-23.5-17.2-41.3-44.4-41.3z" fill-rule="evenodd" clip-rule="evenodd")
				a(href='http://github.com/TheFunkyMonk' target="_blank" class='social-icon inline-block mx-4 w-8 md:w-12 text-black hover:text-blue transform hover:-translate-y-1 transition duration-300')
					svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" class="")
						path(fill="currentColor" d="M512 0C229.2 0 0 229.2 0 512c0 226.2 146.7 418.1 350.2 485.8 25.6 4.7 34.9-11.1 34.9-24.6 0-12.2-.5-52.6-.7-95.3-142.4 30.9-172.5-60.4-172.5-60.4-23.3-59.1-56.8-74.9-56.8-74.9-46.5-31.8 3.5-31.1 3.5-31.1 51.4 3.6 78.5 52.8 78.5 52.8 45.7 78.2 119.9 55.6 149 42.5 4.7-33 17.9-55.6 32.5-68.4-113.7-12.9-233.2-56.9-233.2-253.1 0-55.9 20-101.6 52.7-137.4-5.2-13-22.8-65.1 5.1-135.6 0 0 42.9-13.8 140.8 52.5 40.8-11.4 84.6-17 128.1-17.2 43.5.2 87.3 5.9 128.2 17.3C738 198.6 781 212.4 781 212.4c28 70.5 10.4 122.6 5.1 135.5 32.8 35.8 52.6 81.5 52.6 137.4 0 196.7-119.8 240-233.8 252.7 18.4 15.9 34.8 47 34.8 94.8 0 68.4-.7 123.6-.7 140.5 0 13.6 9.3 29.6 35.2 24.6C877.4 930 1024 738.1 1024 512 1024 229.2 794.8 0 512 0z")
				a(href='https://www.instagram.com/brimleycat/' target="_blank" class='social-icon inline-block mx-4 w-8 md:w-12 text-black hover:text-blue transform hover:-translate-y-1 transition duration-300')
					svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612 612" class="")
						path(fill="currentColor" d="M306 0c168.9 0 306 137.1 306 306S474.9 612 306 612 0 474.9 0 306 137.1 0 306 0zm0 114.8c-51.9 0-58.5.2-78.9 1.2-20.4.9-34.3 4.2-46.4 8.9-12.6 4.9-23.2 11.4-33.9 22.1s-17.2 21.3-22.1 33.9c-4.7 12.2-8 26.1-8.9 46.4-.9 20.4-1.1 26.9-1.1 78.9s.2 58.5 1.1 78.9c.9 20.4 4.2 34.3 8.9 46.4 4.9 12.6 11.4 23.2 22.1 33.9 10.6 10.6 21.3 17.2 33.9 22.1 12.2 4.7 26.1 8 46.4 8.9 20.4.9 26.9 1.2 78.9 1.2s58.5-.2 78.9-1.2c20.4-.9 34.3-4.2 46.4-8.9 12.6-4.9 23.2-11.4 33.9-22.1 10.6-10.6 17.2-21.3 22.1-33.9 4.7-12.2 8-26.1 8.9-46.4.9-20.4 1.2-26.9 1.2-78.9s-.2-58.5-1.2-78.9c-.9-20.4-4.2-34.3-8.9-46.4-4.9-12.6-11.4-23.2-22.1-33.9-10.6-10.6-21.3-17.2-33.9-22.1-12.2-4.7-26.1-8-46.4-8.9-20.4-1-27-1.2-78.9-1.2zm0 34.4c51.1 0 57.1.2 77.3 1.1 18.6.9 28.8 4 35.5 6.6 8.9 3.5 15.3 7.6 22 14.3 6.7 6.7 10.8 13.1 14.3 22 2.6 6.7 5.7 16.9 6.6 35.5.9 20.2 1.1 26.2 1.1 77.3s-.2 57.1-1.1 77.3c-.8 18.6-4 28.8-6.6 35.5-3.5 8.9-7.6 15.3-14.3 22-6.7 6.7-13.1 10.8-22 14.3-6.7 2.6-16.9 5.7-35.5 6.6-20.2.9-26.2 1.1-77.3 1.1s-57.1-.2-77.3-1.1c-18.6-.8-28.8-4-35.5-6.6-8.9-3.5-15.3-7.6-22-14.3-6.7-6.7-10.8-13.1-14.3-22-2.6-6.7-5.7-16.9-6.6-35.5-.9-20.2-1.1-26.2-1.1-77.3s.2-57.1 1.1-77.3c.9-18.6 4-28.8 6.6-35.5 3.5-8.9 7.6-15.3 14.3-22 6.7-6.7 13.1-10.8 22-14.3 6.7-2.6 16.9-5.7 35.5-6.6 20.2-.9 26.2-1.1 77.3-1.1zm0 58.6c-54.2 0-98.2 44-98.2 98.2s44 98.2 98.2 98.2 98.2-44 98.2-98.2-44-98.2-98.2-98.2zm0 161.9c-35.2 0-63.7-28.5-63.7-63.7s28.5-63.7 63.7-63.7 63.7 28.5 63.7 63.7-28.5 63.7-63.7 63.7zm125-165.8c0 12.7-10.3 22.9-23 22.9s-22.9-10.3-22.9-22.9c0-12.7 10.3-22.9 22.9-22.9 12.8 0 23 10.2 23 22.9z" fill-rule="evenodd" clip-rule="evenodd")
