doctype html
html.no-js(lang='')
	head
		meta(charset='utf-8')

		- var title = "R.J. LaCount - Web Developer in Seattle";
		- var description = "Designer-turned-developer specializing in bringing designs to life by working closely with visual designers.";

		title #{title}
		meta(name='title' content=title)
		meta(name='description' content=description)

		// Open Graph / Facebook
		meta(property='og:type' content='website')
		meta(property='og:url' content='https://rjlacount.com/')
		meta(property='og:title' content=description)
		meta(property='og:description' content=description)
		meta(property='og:image' content='images/social_landscape-full.png')

		// Twitter
		meta(property='twitter:card' content='summary_large_image')
		meta(property='twitter:url' content='https://rjlacount.com/')
		meta(property='twitter:title' content=description)
		meta(property='twitter:description' content=description)
		meta(property='twitter:image' content='images/social_landscape-full.png')

		link(rel='apple-touch-icon' href='apple-touch-icon.png')
		meta(name='theme-color' content='#1565C0')

		// Place favicon.ico in the root directory
		// build:css styles/main.css
		link(rel='stylesheet' href='styles/main.css')
		// endbuild

		// REMOVE ON LAUNCH
		meta(name='robots' content='none')

	body
		#scroll-up(class='fixed bottom-0 right-0 m-4 w-12 h-12 text-blue dark:text-white z-20 lg:hidden opacity-0')
			svg(class='w-full h-full pointer-events-none' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20')
				path(fill='currentColor' d='M0 10a10 10 0 1 1 20 0 10 10 0 0 1-20 0zm10 8a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm.7-10.54L14.25 11l-1.41 1.41L10 9.6l-2.83 2.8L5.76 11 10 6.76l.7.7z')

		block content

		footer(class='text-black lg:bg-blue lg:text-white antialiased dark:bg-gray-800 dark:text-white relative z-10')
			div(class='container mx-auto')
				div(class='flex flex-wrap h-full py-4')
					div(class='w-full px-4 md:text-center')
						p(class='text-xs font-semibold')
							| &copy;
							script.
								document.write(new Date().getFullYear())
							| &nbsp;R.J. LaCount. All rights reserved.

		// Google Analytics: change UA-XXXXX-X to be your site's ID.
		script.
			(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
			function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
			e=o.createElement(i);r=o.getElementsByTagName(i)[0];
			e.src='https://www.google-analytics.com/analytics.js';
			r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
			ga('create','UA-XXXXX-X');ga('send','pageview');
		// build:js scripts/vendor.js
		// endbuild
		// build:js scripts/main.js
		script(src='scripts/main.js')
		// endbuild
